[submodule "commoncrawlscraper"]
	path = commoncrawlscraper
	url = https://github.com/cottrell/commoncrawlscraper.git
[submodule "dbit"]
	path = dbit
	url = https://github.com/cottrell/dbit.git
[submodule "consul_examples"]
	path = consul_examples
	url = https://github.com/cottrell/consul_examples.git
