[submodule "commoncrawlscraper"]
	path = commoncrawlscraper
	url = git@github.com:cottrell/commoncrawlscraper.git
	active = false
[submodule "dbit"]
	path = dbit
	url = git@github.com:cottrell/dbit.git
[submodule "consul_examples"]
	path = consul_examples
	url = git@github.com:cottrell/consul_examples.git
	active = false
[submodule "uk_land_registry"]
	path = uk_land_registry
	url = git@github.com:cottrell/uk_land_registry.git
[submodule "extractors"]
	path = extractors
	url = git@gitlab.com:david-cottrell/extractors.git
[submodule "mylib"]
	path = mylib
	url = git@github.com:cottrell/mylib.git
[submodule "mybin"]
	path = mybin
	url = git@github.com:cottrell/mybin.git
[submodule "djnotes"]
	path = djnotes
	url = git@github.com:cottrell/djnotes.git
[submodule "C--WrappingExamples"]
	path = C--WrappingExamples
	url = git@github.com:cottrell/C--WrappingExamples.git
[submodule "fractional-differentiation-time-series"]
	path = fractional-differentiation-time-series
	url = git@github.com:cottrell/fractional-differentiation-time-series.git
[submodule "awesome_markdown_enrich"]
	path = awesome_markdown_enrich
	url = git@github.com:cottrell/awesome_markdown_enrich.git
	active = false
[submodule "kaggle"]
	path = kaggle
	url = git@gitlab.com:david-cottrell/kaggle.git
	active = false
[submodule "my-gym"]
	path = my-gym
	url = git@gitlab.com:david-cottrell/my-gym.git
[submodule "saxo_example"]
	path = saxo_example
	url = git@github.com:cottrell/saxo_example.git
[submodule "superbasic"]
	path = superbasic
	url = git@github.com:cottrell/superbasic.git
	active = false
