data/
build/
.keras/
*.log
*.doc
.DS_Store
.noseids
authtoken.p
*.rdb
jupyterhub.sqlite
jupyterhub_cookie_secret
*nogit*
.ipynb_checkpoints/
__pycache__/
*.pyc
*.swp
old/
nogit/
node_modules/
*.egg-info
