[submodule "commoncrawlscraper"]
	path = commoncrawlscraper
	url = https://github.com/cottrell/commoncrawlscraper.git
[submodule "dbit"]
	path = dbit
	url = https://github.com/cottrell/dbit.git
[submodule "consul_examples"]
	path = consul_examples
	url = https://github.com/cottrell/consul_examples.git
[submodule "ml/cloudml-dist-mnist-example"]
	path = ml/cloudml-dist-mnist-example
	url = https://github.com/GoogleCloudPlatform/cloudml-dist-mnist-example
[submodule "uk_land_registry"]
	path = uk_land_registry
	url = https://github.com/cottrell/uk_land_registry.git
